  body {
    min-width: 320px; // лучше задать на body, чтобы не выпадали фоны
  }

  .container() {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media @tablet-widths {
    .container {
      width: 640px;
      padding: 0 64px;
    }
  }

  @media @desktop-widths {
    .container {
      width: 960px;
      padding: 0 120px;
    }
  }
