.form {
  .container();
}

.appointment-form__details {
  height: 367px;
  padding: 0 20px;
}

.appointment-form__details label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  margin-left: 20px;
}

.appointment-form__details input {
  width: 238px;
  padding: 22px 18px;
  border: 2px solid #e5e5e5;
  margin-top: 5px;
  margin-bottom: 15px;
}

fieldset {
  border: none;
  height: 526px;
  padding: 40px 0;
  margin: 0;
  background-color: @bg-light;
}

.appointment-form__progress legend {
  display: block;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  padding: 0 40px;
  padding-top: 40px;
  background-color: @bg-light;
}

.appointment-form__progress input {
  width: 280px;
}
