.intro {
  .container();
  background-color: @bg-dark;
  text-align: center;
}

.intro__image {
  min-height: 396px;
  background-image: url("../img/iphone-screen-mobile.png"), url("../img/iphone-5-in-hand-png.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: 104px 143px, 0px 110px, bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  margin-bottom: 45px;
}

.intro__list {
  display: inline-block;
  .clearfix();
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.intro__link--all {
  width: 190px;
  padding: 12px 38px;
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.intro__link--apple,
.intro__link--android,
.intro__link--microsoft {
  float: left;
  width: 55px;
  height: 55px;
  margin-right: 25px;
  margin-top: 58px;
}

.intro__link--apple {
  background: url("../img/logo-apple.svg") no-repeat;
  margin-left: 40px;
  margin-top: 47px;
}

.intro__link--android {
  background: url("../img/logo-android.svg") no-repeat;
}

.intro__link--microsoft {
  background: url("../img/logo-microsoft.svg") no-repeat;
}

.intro__text {
  padding: 0 38px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
