.intro {
  .container();
  background-color: @bg-dark;
  text-align: center;
}

.intro__image {
  min-height: 396px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile.jpg");
  background-position: 0px 110px, bottom;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 45px;
}

intro__title--visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.intro__list {
  display: inline-block;
  .clearfix();
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.intro__link--all {
  width: 190px;
  padding: 12px 38px;
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.intro__link--apple,
.intro__link--android,
.intro__link--microsoft {
  float: left;
  width: 55px;
  height: 55px;
  margin-right: 25px;
  margin-top: 58px;
}

.intro__link--apple {
  background: url("../img/logo-apple.svg") no-repeat;
  margin-left: 40px;
  margin-top: 47px;
}

.intro__link--android {
  background: url("../img/logo-android.svg") no-repeat;
}

.intro__link--microsoft {
  background: url("../img/logo-microsoft.svg") no-repeat;
}

.intro__text {
  padding: 0 38px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

@media @tablet-widths {
  .intro {
    .container();
    display: flex;
    padding-left: 40px;
    background-color: @bg-dark;
    background-image: url("../img/iphone-hand-mobile@1x_tablet.png"), url("../img/back-tablet@1x.jpg");
    background-position: 50% bottom, bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .intro__image {
    height: 0;
    width: 0;
  }
  .intro__download {
    width: 300px;
    padding: 60px 0px;
    padding-bottom: 90px;
  }
  .intro__title {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
  }
  .intro__list {
    padding-top: 10px;
  }
  .intro__text {
    padding: 15px 0px;
    padding-bottom: 20px;
    font-size: 18px;
  }
}
