.main-nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.main-nav__items,
.main-nav__item {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 64px;
  width: 100%;
  text-align: center;
  border: 1px solid #485461;
  box-sizing: border-box;
}

.main-nav__item,
.main-nav__items a {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 0;
  cursor: pointer;
}

@media @tablet-widths {}

@media @desktop-widths {
  .main-nav {
    float: right;
    width: 650px;
    padding-top: 20px;
  }
  .main-nav__items {
    display: flex;
    justify-content: space-around;
    border: none;
  }
  .main-nav__item,
  .main-nav__item a {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    padding: 0;
    border: none;
  }
}
