.main {
  text-align: center;
}

.main__title {
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0 45px;
  padding-top: 30px;
  padding-bottom: 80px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.main__text {
  margin: 0;
  padding: 46px 35px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

@media @tablet-widths {
  .main {
    text-align: center;
    padding: 0;
  }
  .main__title {
    padding-top: 80px;
    padding-bottom: 130px;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
  }
  .main__text {
    margin: 0;
    padding: 100px 100px;
    padding-bottom: 70px;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}
