  .page-footer {
    .container();
    text-align: center;
    padding-top: 40px;
  }

  .page-footer__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #283645;
    margin: 0;
    margin-bottom: 30px;
  }

  .page-footer__contacts {
    display: block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }

  .page-footer__wrapper {
    padding: 0 20px;
  }

  .page-footer__wrapper a {
    display: block;
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #d22856;
    margin-bottom: 18px;
  }

  .page-footer__map {
    height: 225px;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@1x.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 60%, 50% 0px, bottom;
  }
