.page-header {
  background-color: @bg-lightdark;
  .container();
  .clearfix();
  padding: 0;
  padding-top: 20px;
}

.page-header__logo {
  float: left;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.photos__logo {
  z-index: 1;
}

.page-header__button {
  float: right;
  margin: 0;
  vertical-align: middle;
  padding-right: 20px
}

.page-header__toggle {
  border: 0;
  background: none;
  cursor: pointer;
}

@media @tablet-widths {
  .page-header {
    background-color: @bg-lightdark;
    padding-top: 20px;
  }
  .page-header__logo {
    padding: 0;
    padding-bottom: 40px;
    padding-top: 5px;
  }
  .page-header__button {
    float: right;
    margin: 0;
    padding-top: 25px;
  }
}

@media @desktop-widths {
  .page-header {
    .container();
    max-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .page-header__header {
    .clearfix();
    padding-bottom: 40px;
    padding-top: 25px;
  }
  .page-header__logo {
    padding: 0;
    margin: 0;
  }
  .page-header__button {
    position: absolute;
    display: none;
  }
}
