.photos {
  //  .container();
}

.photos__main {
  position: relative;
}

.photos__slogan {
  display: block;
  position: absolute;
  width: 104px;
  left: 160px;
  background-color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 18px;
}

.photos__panorama {
  min-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.photos__list {
  list-style: none;
  margin: 0;
  .container();
  padding-top: 20px;
}

.photos__item {
  margin-bottom: 20px;
  background-color: @bg-light;
}

.photos__text-wrapper {
  .container();
  margin-top: -5px;
}

.photos__text {
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  padding-bottom: 20px;
  background-color: @bg-light;
}

.photos__auhor-name {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: #283645;
}

.photos__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  text-transform: uppercase;
}

.photos__desc {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.photos__likes,
.photos__likes-1 {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

.photos__likes::before,
.photos__likes-1::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  left: 1px;
  background: url("../img/icon-heart.svg") no-repeat;
}

.photos__mobile img {
  z-index: 1;
}

@media @tablet-widths {
  .photos {
    overflow: hidden;
  }
  .photos__main {
    margin-bottom: 50px;
    position: relative;
    padding: 0;
  }
  .photos__text {
    padding: 18px 25px;
    padding-bottom: 20px;
    background-color: @bg-light;
  }
  .photos__item {
    width: 300px;
    min-height: 455px;
    position: relative;
  }
  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .photos__slogan {
    top: 55px;
    left: 500px;
  }
  .photos__likes {
    display: block;
    position: absolute;
    left: -10px;
    bottom: 20px;
  }
  .photos__likes::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 265px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
  .photos__likes-1 {
    display: block;
    padding-left: 30px;
    padding-top: 9px;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
    position: absolute;
    left: 460px;
    bottom: 68px;
  }
  .photos__likes-1::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 140px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}

@media @desktop-widths {
  .photos {
    margin-top: -110px;
  }
  .photos__main {
    margin-bottom: 0;
  }
  .photos__panorama {
    max-height: 507px;
    overflow: hidden;
  }
  .photos__text {
    padding: 25px 25px;
  }
  .photos__item {
    min-height: 555px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .photos__slogan {
    top: 55px;
    left: 800px;
  }
  .photos__likes-1 {
    left: 760px;
    bottom: 50px;
  }
  .photos__likes-1::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 140px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}
