.reviews {
  padding-top: 45px;
  padding-bottom: 75px;
  text-align: center;
}

.reviews__text {
  padding: 0 20px;
}

.reviews__author-name {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.reviews__author-job--hidden {
  font-size: 0;
}

.reviews__blog {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  padding: 0;
  margin: 0;
}

.slider {
  position: relative;
}

.slider__toggle {
  position: absolute;
  right: 125px;
  top: 250px;
}

.slider__toggle input {
  display: none;
}

.slider__toggles label {
  display: inline-block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: 3px solid #bec2c7;
  box-sizing: border-box;
  margin: 0 7px;
  cursor: pointer;
  vertical-align: middle;
}

#btn-1:checked ~ .slider__toggles label[for="btn-1"],
#btn-2:checked ~ .slider__toggles label[for="btn-2"],
#btn-3:checked ~ .slider__toggles label[for="btn-3"] {
  width: 6px;
  height: 6px;
  border: 3px solid #283645;
  box-sizing: content-box;
}

.reviews__arrow-left {
  display: none;
}

.reviews__arrow-right {
  display: none;
}

@media @tablet-widths {
  .reviews {
    padding-top: 35px;
    padding-bottom: 150px;
    text-align: center;
  }
  .reviews__text slider {
    position: relative;
  }
  .author {
    position: absolute;
    bottom: -110px;
    left: 35%;
  }
  .reviews__author-name {
    display: block;
    font-size: 20px;
  }
  .reviews__author-job {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    color: #283645;
  }
  .reviews__blog {
    display: block;
    font-size: 18px;
    line-height: 30px;
  }
  .slider__toggle {
    position: absolute;
    right: 47%;
    top: 240%;
  }
  .reviews__arrow-left {
    display: none;
  }
  .reviews__arrow-right {
    display: none;
  }
}

@media @desktop-widths {
  .reviews {
    .container();
    padding-top: 190px;
    padding-bottom: 125px;
  }
  .reviews__text {
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
  }
  .reviews__blog {
    position: relative;
    display: inline-block;
    width: 700px;
    margin-left: auto;
    margin-right: auto
  }
  .reviews__author-name {
    font-size: 24px;
    line-height: 30px;
  }
  .slider__toggle {
    display: none;
  }
  .reviews__author-job {
    font-size: 18px;
  }
  .author {
    position: absolute;
    bottom: -110px;
    left: 40%;
  }
  .reviews__blog::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: -115px;
    left: 320px;
    width: 79px;
    height: 63px;
    background: url("../img/icon-quotes.svg") no-repeat;
  }
  .reviews__arrow-left {
    display: inline-block;
    width: 22px;
    height: 41px;
    background: url("../img/icon-review-arrow-left.svg") no-repeat;
    border: none;
    cursor: pointer;
  }
  .reviews__arrow-right {
    display: inline-block;
    width: 22px;
    height: 41px;
    background: url("../img/icon-review-arrow-right.svg") no-repeat;
    border: none;
    cursor: pointer;
  }
}
